/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(138, 167, 192);
    height: 80px;
}

header>h1{
    text-align: center;
}

main{
    padding: 10px 0;
    height: calc(100vh - 60px);
    background-color: rgb(255, 255, 255);
}

/* TOWERS-WRAPPER */
main>#towers_wrapper{
    padding: 10px;
    display: flex;
    border: 1px solid;
}

/* TOWERS */
main>#towers_wrapper>.tower{
    padding: 2px;
    margin-top: 30px;

    /* testes */
    border: 1px solid;
    height: 250px;
    flex-basis: 33.333%;

    /* posicionamento dos discs */
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    /* justify-content: flex-end; */
}

.tower>span{
    /* styles-geral */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 5px;


    /* testes */
    width: 100%;
    background-color: rgb(110, 110, 180);
}

/* #twr_1>span:nth-child(1){
    background-color: rgba(255, 255, 0, 0.884);
    width: 25%;
}
#twr_1>span:nth-child(2){
    background-color: rgba(0, 0, 255, 0.815);
    width: 40%;
}
#twr_1>span:nth-child(3){
    background-color: rgba(255, 0, 0, 0.884);
    width: 60%;
}
#twr_1>span:nth-child(4){
    background-color: rgba(101, 49, 223, 0.952);
    width: 80%;
}
#twr_1>span:nth-child(5){
    background-color: rgba(0, 128, 0, 0.829);
    width: 100%;
} */

/* movimentando item */
.item.dragging{
    opacity: 0.5;
}

.drop_area.yes{
    background-color: rgb(51, 255, 0);
}

.drop_area.noo{
    background-color: rgb(226, 73, 27);
}
